* {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #033048;
  height: 4rem;
  color: white;
}

nav ul li {
  padding: 0 1rem;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  color: #f9e42e;
  }

.wrapper {
  width: 700px;
  height:100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  padding: 1rem 0;
}

main {
  width: 70%;
  padding: 0 1rem 0 0;
}

aside {
  width: 30%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.call-to-action {
  height: 2rem;
  background-color: #f9e42e;
}

.target {
  display: inline;
  color: red;
  font-size: 3rem;
}
