* {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f0efef;
}

header {
  background-color: #033048;
  height: 4rem;
  color: white;
}

nav ul li {
  padding: 0 1rem;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  color: #f9e42e;
  }

.wrapper {
  width: 700px;
  height:100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  padding: 1rem 0;
}

main {
  width: 70%;
  padding: 0 1rem 0 0;
}

aside {
  width: 30%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.call-to-action {
  width: 100%;
  min-height: 8rem;
  background: yellow;
  display: flex;
  align-items: center;
}

.call-to-action button {
  border: none;
  border-radius: 5px;
  font-weight: 800;
  padding: 12px 0;
  width: 250px;
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #fff;
  background-color: #033048;
}

.target {
  display: inline;
  color: #606161;
  font-size: 3rem;
  float: left;
  padding-right: 4px;
}

img {
  width: 100%;
}

h1 {
  color: #033048;
}

h2 {
  color: #033048;
}

.ReadMore {
  display:flex;
  justify-content: flex-end;
}

footer {
  width: 100%;
  height: 20rem;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.socialmedia {
  display: flex;
  flex-direction: row;
}
h4 {
  color: #f9e42e;
}

.copyright {
  color: white;
}
